/******* MAIN *******/
/* Main colors for now: #239A3B & #FFF */
/* might change green to blue - digital as in Tron */
/* awake vs asleep */
body {
  font-size: 1.5em;
  color: #6A737D;
  background-color: #FFF;
  /* temp */
  text-align: center; }

button {
  border: 1px solid #A1A6AA;
  border-radius: 5px;
  font-size: 0.7em;
  width: 120px;
  color: #24292E;
  background-color: #F3F6F8;
  margin: 0 5px; }

button:active {
  background-color: #239A3B;
  color: #FFF; }

button:hover {
  background-color: #ECEFF4; }

a {
  color: #239A3B; }

/* maybe visited should not be colored in a different way at all */
a:visited {
  color: #38654b; }

p {
  margin: 10px auto; }

/*** APP COMPONENT ***/
.app-component {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column; }

/*** HEADER COMPONENT ***/
/*** CONTROLS COMPONENT ***/
/*** BOARD COMPONENT ***/
#board-component {
  border: 1px solid #D1D5DA;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

/*** CELL COMPONENT ***/
.cell-component {
  height: 10px;
  width: 10px;
  /*** for testing purposes ***/
  background-color: #777;
  /*display: inline;*/
  border: 1px solid #FFF; }

.board-50-30 {
  width: 500px; }

.board-50-30 .cell-component {
  height: 15px;
  width: 15px; }

.board-70-50 {
  width: 600px; }

.board-70-50 .cell-component {
  height: 10px;
  width: 10px; }

.board-100-80 {
  width: 900px; }

.board-100-80 .cell-component {
  height: 5px;
  width: 5px; }

.asleep {
  background-color: #EBEDF0; }

.awake {
  background-color: #239A3B; }

/*** SETTINGS COMPONENT ***/
.settings-row {
  display: flex;
  flex-direction: row;
  margin-top: 0.3em;
  align-items: center; }

.settings-row button {
  height: 2em; }

/*** FOOTER COMPONENT ***/
/* CSS END */
